.about__wrapper {
  max-width: 1170px;
  margin: 150px auto 140px;

  @media (max-width: $tablet-width-only) {
    padding: 0 10px;
    max-width: 600px;
    margin-top: 70px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }
}

.about h2 {
  @include font(30px, 30px, 600);
  padding-bottom: 50px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 41px, 600);
    padding-bottom: 33px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 32px;
  }
}

.about ul {
  @include reset-list;
  display: grid;
  column-gap: 18px;
  grid-template-columns: repeat(4, auto);
  counter-reset: section;

  @media (max-width: $tablet-width-only) {
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about li {
  @include font(22px, 34px, 400);
  letter-spacing: -0.5px;
  max-width: 255px;
  text-align: center;
  position: relative;
  padding: 53px 10px 10px;
  justify-self: center;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n + 4) {
    margin-right: 0;
  }

  &::before {
    @include font(28px, 38px, 700);
    counter-increment: section;
    content: "0" counter(section);
    position: absolute;
    top: 0;
    width: 34px;
    left: calc(50% - 17px);
    color: $accent-primary;
  }

  @media (max-width: $tablet-width-only) {
    @include font(22px, 34px, 400);
    padding: 53px 0 40px;
    letter-spacing: -0.5px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width-only) {
    @include font(18px, 34px, 400);
    max-width: 280px;
    padding-bottom: 40px;
    padding-top: 51px;
  }
}
