.about__wrapper {
  max-width: 1166px;
  margin: 150px auto 140px;

  @media (max-width: $tablet-width-only) {
    padding: 0 10px;
    max-width: 610px;
    margin-top: 70px;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }
}

.about h2 {
  @include font(30px, 30px, 600);
  padding-bottom: 50px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 41px, 600);
    padding-bottom: 33px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 32px;
  }
}

.about ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: section;

  @media (max-width: $tablet-width-only) {
    justify-content: space-evenly;
  }
}

.about li {
  @include font(22px, 34px, 400);
  letter-spacing: -0.5px;
  max-width: 255px;
  text-align: center;
  position: relative;
  padding: 53px 0 10px;

  &::before {
    @include font(28px, 38px, 700);
    counter-increment: section;
    content: "0" counter(section);
    position: absolute;
    top: 0;
    width: 34px;
    left: calc(50% - 17px);
    color: $accent-primary;
  }

  @media (max-width: $tablet-width-only) {
    @include font(22px, 34px, 400);
    padding: 53px 10px 40px;
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(18px, 34px, 400);
    max-width: 280px;
    padding-bottom: 40px;
    padding-top: 51px;
  }
}
