.bicycles {
  background-color: $secondary-light;
}

.bicycles__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 153px 10px 128px;
  overflow-x: hidden;

  @media (max-width: $tablet-width-only) {
    padding: 50px 35px 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 50px 16px 52px;
  }
}

.bicycles ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (max-width: $tablet-width-only) {
    justify-content: space-evenly;
  }
}

.bicycles img {
  border-radius: 10px;
  object-fit: cover;

  @media (max-width: $intermediate-width) {
    width: 342px;
    height: 512px;
  }

  @media (max-width: $tablet-width-only) {
    width: 270px;
    height: 300px;
  }
}

.bicycles h2 {
  @include font(30px, 30px, 600);
  text-align: center;
  padding-bottom: 54px;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 41px, 600);
    padding-bottom: 30px;
  }
}

.bicycles li {
  position: relative;
  z-index: 2;
  max-width: 342px;
  padding: 0 5px 20px;

  @media (max-width: $intermediate-width) {
    padding-bottom: 52px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 41px;
  }
}

.bicycles li:nth-child(3n + 2) {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    border: 8px solid $accent-primary;
  }

  &::before {
    bottom: 91%;
    left: -16px;

    @media (max-width: $intermediate-width) {
      top: -20px;
    }
  }

  &::after {
    bottom: 54px;
    right: -20px;

    @media (max-width: $intermediate-width) {
      bottom: 90px;
    }
  }

  @media (max-width: $intermediate-width) {
    padding-top: 0;
  }

  @media (max-width: $tablet-width-only) {
    &::before,
    &::after {
      width: 0;
      border: 0;
    }
  }
}

.bicycles__item:nth-child(3n + 2):not(:last-child) img {
  height: 566px;

  @media (max-width: $intermediate-width) {
    height: auto;
  }

  @media (max-width: $tablet-width-only) {
    height: 300px;
  }
}

.bicycles li:nth-child(3n) {
  &::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    border: 17px solid $accent-primary;
    border-radius: 50%;
    right: -8%;
    top: -35px;
  }

  @media (max-width: $tablet-width-only) {
    padding-bottom: 0;

    &::after {
      border-width: 13px;
      width: 42px;
      height: 42px;
      top: -21px;
      right: -20px;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 41px;

    &::after {
      top: -20px;
      right: -12px;
    }
  }
}

.bicycles li:nth-child(3n + 1) {
  &::after {
    content: "";
    position: absolute;
    width: 126px;
    height: 126px;
    border: 27px solid $accent-primary;
    border-radius: 50%;
    left: -15%;
    top: calc(35% - 70px);
    z-index: -1;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      width: 91px;
      height: 91px;
      border-width: 18px;
      top: 50%;
      left: -30px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      left: -24px;
    }
  }
}

.bicycles li:last-child {
  padding-top: 0;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 0;
  }
}


.bicycles p {
  @include font(22px, 34px, 600);
  text-align: center;
  margin: 0;
  padding-top: 14px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width-only) {
    padding-top: 10px;
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 13px;
  }
}
