.intro__wrapper {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 258px;
  padding-bottom: 240px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
    flex-direction: column;
    margin: 0;
    max-width: none;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-rows: 340px 1.3fr;
  }
}

.intro__form-wrapper {
  position: relative;

  &--nojs {
    display: none;
  }
}

.intro__content-box {
  position: relative;
  max-width: 393px;

  @media (max-width: $tablet-width-only) {
    max-width: 100%;
    text-align: center;
    position: static;
    padding-top: 134px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-image: url("../img/bg-tabl.jpg");
    background-color: $secondary-dark;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tabl@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/bg-mob.jpg");
    background-color: $secondary-dark;
    background-size: cover;
    padding: 120px 16px 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-mob@2x.jpg");
    }
  }
}

.intro img {
  padding-bottom: 20px;
}

.intro h3 {
  @include font(46px, 64px, 600);
  color: $basic-light;
  margin: 0;
  padding-bottom: 24px;
  letter-spacing: 0.5px;

  @media (max-width: $tablet-width-only) {
    @include font(30px, 42px, 600);
    padding-bottom: 20px;
  }
}

.intro p {
  @include font(20px, 32px, 300);
  color: rgba($basic-light, 0.8);
  margin: 0;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 32px, 300);
    max-width: 435px;
    margin: 0 auto;
  }
}

.intro__logo {
  @media (max-width: $tablet-width-only) {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  @media (max-width: $mobile-width-only) {
    top: 25px;
    left: 16px;
  }
}

.intro form {
  display: flex;
  flex-direction: column;
  width: 327px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    padding-top: 70px;
    width: 42.2vw;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    max-width: 324px;
    padding: 0 16px;
    box-sizing: border-box;
    padding-top: 68px;
  }
}

.intro__form-wrapper--hide {
  display: none;
}

.intro__form-wrapper p {
  @include font(17px, 28px, 600);
  color: $basic-light;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 28px, 600);
    color: $basic-dark;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
  }
}

.intro__form-wrapper input {
  @include placeholder;
  background-color: $basic-light;
  padding: 15px 29px 13px;
  border-radius: 6px;
  border: 1px solid $special-grey;
  margin-bottom: 20px;
  box-sizing: border-box;

  &:focus,
  &:active {
    border-color: rgba($basic-dark, 0.4);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $basic-light;
  }

  &--invalid:focus {
    background-color: $input-invalid;
    border-color: $input-invalid;
  }

  &--invalid {
    background-color: $input-invalid;
    border-color: $input-invalid;
  }

  @media (max-width: $tablet-width-only) {
    padding: 14px 21px;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 18px;
    padding: 14px 24px;
  }
}

.intro button {
  @include font(15px, 21px, 600);
  background-color: $accent-primary;
  color: $basic-dark;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $basic-light;
  }

  &:hover {
    background-color: $accent-hover;
  }

  @media (max-width: $tablet-width-only) {
    &:focus-visible {
      outline: 2px solid $basic-dark;
    }
  }
}

.intro__success {
  width: 327px;
  display: none;

  &--show {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet-width-only) {
      margin: 70px auto 0;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
}

.intro__success p:first-child {
  @include font(22px, 28px, 600);
  padding-bottom: 30px;
}

.intro__success p {
  @include font(17px, 28px, 600);
  text-align: center;
  color: $basic-light;
  margin: 0;
  padding-bottom: 50px;

  @media (max-width: $tablet-width-only) {
    color: $basic-dark;
  }
}

.intro__success-close {
  @include font(15px, 21px, 600);
  background-color: $accent-primary;
  padding: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $accent-hover;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 320px;
  }
}

.intro__nojs {
  max-width: 327px;

  &--hide {
    display: none;
  }

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    padding: 10px 16px;
  }
}

.intro__nojs p {
  @include font(17px, 28px, 600);
  text-align: center;
  color: $basic-light;

  @media (max-width: $tablet-width-only) {
    color: $basic-dark;
  }
}
