.main-nav {
  border-bottom: 1px solid rgba($basic-light, 0.2);
  padding-bottom: 9px;
  max-width: 873px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    margin: 0;
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.main-nav ul {
  @include reset-list;

  @media (max-width: $tablet-width-only) {
    position: absolute;
    width: 320px;
    min-height: 568px;
    box-sizing: border-box;
    background-color: $basic-light;
    top: 0;
    right: 0;
    padding-top: 100px;
    box-shadow: 0 1px 30px rgba($basic-dark, 0.1);
    margin-top: -100%;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    margin-top: -200%;
  }
}

.main-nav--closed ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 19px;

  @media (max-width: $tablet-width-only) {
    padding: 0;
    display: block;
    transition: margin 0.2s ease-in-out;
  }
}

.main-nav--opened ul {
  @media (max-width: $tablet-width-only) {
    transition: margin 0.2s ease-in-out;
    margin-top: 0;
    z-index: 1;
  }
}

.main-nav li {
  margin-right: 122px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    padding: 17px 16px;
    background-color: $secondary-light;
    margin-right: 0;
    margin-bottom: 26px;

    background-image: url("../img/icons/arrow.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 93%;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $secondary-light-hover;
    }
  }
}

.main-nav a {
  @include font(16px, 32px, 300);
  color: rgba($basic-light, 0.7);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: rgba($basic-light, 0.9);
  }

  &:active {
    color: rgba($basic-light, 0.5);
  }

  &:focus-visible {
    outline: 1px solid $basic-light;
  }

  @media (max-width: $tablet-width-only) {
    @include font(20px, 28px, 400);
    color: $basic-dark;
    display: flex;
    flex-shrink: 0;

    &:hover {
      color: $basic-dark;
    }

    &:focus-visible {
      outline: 1px solid $basic-dark;
    }

    &:active {
      color: $basic-dark;
    }
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $accent-primary;
    border: none;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $accent-hover;
    }
  }
}

.main-nav--closed .main-nav__toggle::before {
  @media (max-width: $tablet-width-only) {
    content: "";
    position: absolute;
    top: 17px;
    left: 14px;
    width: 23px;
    height: 1px;
    background-color: $basic-dark;
    box-shadow: 0 7px 0 0 $basic-dark, 0 15px 0 0 $basic-dark;
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: $basic-light;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 11px;
    width: 30px;
    height: 1px;
    background-color: rgba($basic-dark, 0.2);
    z-index: 1000;
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($basic-dark, 0.4);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav img {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    width: 69px;
    height: 21px;
    margin-top: 18px;
    margin-left: 18px;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs.main-nav {

  min-height: 0;
}

.main-nav--nojs ul {
  @media (max-width: $tablet-width-only) {
    margin-top: 0;
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
  }
}

.main-nav--nojs img {
  padding-bottom: 20px;
}
