.main-nav {
  padding-bottom: 9px;
  max-width: 975px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 91%;
    left: 4%;
    right: 4%;
    height: 1px;
    background-color: rgba($basic-light, 0.2);
    bottom: 0;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      width: 0;
    }

    margin: 0;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.main-nav ul {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(4, auto);

  @media (max-width: $tablet-width-only) {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: $basic-light;
    top: 0;
    right: 0;
    box-shadow: 0 1px 30px rgba($basic-dark, 0.1);
    display: none;
    padding: 0;
    overflow-y: scroll;
  }
}

.main-nav--opened ul {
  @media (max-width: $tablet-width-only) {
    display: block;
    padding-top: 100px;
  }
}

.main-nav li {
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width-only) {
    padding: 17px 16px;
    background-color: $secondary-light;
    margin-right: 0;
    margin-bottom: 28px;
    background-image: url("../img/arrow.svg");
    background-size: 8px 12px;
    background-repeat: no-repeat;
    background-position: 97%;
    cursor: pointer;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $secondary-light-hover;
    }
  }

  @media (max-width: $mobile-width-only) {
    background-position: 92%;
  }
}

.main-nav a {
  @include font(16px, 32px, 300);
  color: rgba($basic-light, 0.7);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: rgba($basic-light, 0.9);
  }

  &:active {
    color: rgba($basic-light, 0.5);
  }

  &:focus-visible {
    outline: 1px solid $basic-light;
  }

  @media (max-width: $tablet-width-only) {
    @include font(20px, 28px, 400);
    color: $basic-dark;
    display: flex;
    flex-shrink: 0;
    width: 100%;

    &:hover {
      color: $basic-dark;
    }

    &:focus-visible {
      outline: 1px solid $basic-dark;
    }

    &:active {
      color: $basic-dark;
    }
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-color: $accent-primary;
    border: none;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $accent-hover;
    }
  }
}

.main-nav .main-nav__toggle::before {
  @media (max-width: $tablet-width-only) {
    content: "";
    position: absolute;
    top: 17px;
    left: 14px;
    width: 23px;
    height: 1px;
    background-color: $basic-dark;
    box-shadow: 0 7px 0 0 $basic-dark, 0 15px 0 0 $basic-dark;
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: transparent;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 4;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 11px;
    width: 30px;
    height: 1px;
    background-color: rgba($basic-dark, 0.2);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($basic-dark, 0.4);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav img {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    vertical-align: middle;
    width: 69px;
    height: 21px;
    margin-top: 18px;
    margin-left: 18px;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs.main-nav {
  @media (max-width: $tablet-width-only) {
    min-height: 0;
    position: static;
    padding-top: 70px;
  }
}

.main-nav--nojs ul {
  @media (max-width: $tablet-width-only) {
    margin-top: 0;
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-shadow: none;
    margin-bottom: 40px;
  }
}

.main-nav--nojs img {
  padding-bottom: 20px;
}
