.page-header {
  background-image: url("../img/bg-desk.jpg");
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-desk@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    background-image: none;
  }
}

.page-header__wrapper {
  padding-top: 21px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }
}
