.page-footer {
  align-self: end;
}

.page-footer__wrapper {
  margin-bottom: 86px;
  margin-top: 150px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 52px;
    margin-top: 70px;
    padding: 0 35px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.page-footer__text {
  max-width: 555px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    max-width: max-content;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 25px;
  }
}

.page-footer h2 {
  @include font(30px, 30px, 600);
  margin: 0;
  padding-bottom: 30px;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 30px, 600);
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(18px, 30px, 600);
  }
}

.page-footer p {
  @include font(17px, 31px, 400);
  margin: 0;
  padding-bottom: 42px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 20px;
  }
}

.page-footer__map {
  width: 957px;
  margin: 0 auto;
  padding-bottom: 30px;


  @media (max-width: $tablet-width-only) {
    width: 100%;
    margin: 0;
    padding-bottom: 16px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 25px;
  }
}

.page-footer__map iframe {
  border: none;
  background-color: $special-grey;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    height: 250px;
  }
}

.page-footer__socials {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 560px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    max-width: 268px;
    text-align: center;
    align-items: center;
  }
}

.page-footer__socials li {
  margin-right: 15px;
  padding-bottom: 10px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 26px;
    margin-right: 0;
  }
}

.page-footer__socials span {
  margin-left: 15px;
}

.page-footer__socials a {
  @include font(16px, 21px, 400);
  color: rgba($basic-dark, 0.5);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: rgba($basic-dark, 0.8);
  }
}
