.page-header--absolute {
  position: absolute;
  width: 100%;
  z-index: 10;

  @media (max-width: $tablet-width-only) {
    position: relative;
    margin: 0;
    max-width: initial;
  }
}

.page-header__wrapper {
  padding-top: 21px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }
}
