.promo {
  background: linear-gradient(to bottom, $secondary-dark 87%, $basic-light 87%, $basic-light 100%);

  @media (max-width: $tablet-width-only) {
    background: linear-gradient(to bottom, $secondary-dark 82%, $basic-light 82%, $basic-light 100%);
  }

  @media (max-width: $mobile-width-only) {
    background: linear-gradient(to bottom, $secondary-dark 88%, $basic-light 88%, $basic-light 100%);
  }
}

.promo__wrapper {
  position: relative;
  padding-top: 122px;
  max-width: 929px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    max-width: 503px;
    padding: 70px 16px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.promo h2 {
  @include font(30px, 30px, 600);
  color: $basic-light;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 30px, 600);
  }
}

.promo p {
  @include font(16px, 28px, 300);
  color: rgba($basic-light, 0.7);
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 56px;

  @media (max-width: $tablet-width-only) {
    max-width: 429px;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 52px;
    letter-spacing: -0.2px;
  }
}

.promo__button {
  position: absolute;
  width: 65px;
  height: 65px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/play-icon.svg");
  background-size: cover;
  left: calc(50% - 36px);
  bottom: 236px;
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid $basic-light;
  }

  &::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: all 0.1s ease;
  }

  &:hover::before {
    background-color: rgba($basic-dark, 0.1);
    top: 0;
    left: 0;
  }

  &:active::before {
    background-color: rgba($basic-dark, 0.2);
  }

  @media (max-width: $tablet-width-only) {
    bottom: 100px;
    width: 91px;
    height: 91px;
    left: calc(50% - 46px);

    &::before {
      width: 91px;
      height: 91px;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 65px;
    height: 65px;
    bottom: 50px;
    left: calc(50% - 36px);

    &::before {
      width: 65px;
      height: 65px;
    }
  }
}

.promo img {
  object-fit: cover;

  @media (max-width: $tablet-width-only) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    height: 161px;
  }
}
