.success-message {
  width: 327px;
}

.success-message p:first-child {
  @include font(22px, 28px, 600);
  padding-bottom: 30px;
}

.success-message p {
  @include font(17px, 28px, 600);
  text-align: center;
  color: $basic-light;
  margin: 0;
  padding-bottom: 50px;
}

.success-message__close {
  @include font(15px, 21px, 600);
  background-color: $accent-primary;
  padding: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $accent-hover;
  }
}
