// viewports

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

// colors

$basic-light: #ffffff;
$basic-dark: #000000;
$secondary-light: #F6F7F9;
$secondary-dark: #131314;
$accent-primary: #0AD9C6;
