// viewports

$mobile-width-only: 767px;
$tablet-width-only: 1023px;
$intermediate-width: 1045px;

// colors

$basic-light: #ffffff;
$basic-dark: #000000;
$secondary-light: #f6f7f9;
$secondary-light-hover: #e5e8f0;
$secondary-dark: #131314;
$accent-primary: #0ad9c6;
$accent-hover: #0acfcf;
$accent-click: #04b5bb;
$special-grey: #c9ccd4;
$special-grey2: rgba(#1c1c1c, 0.5);
$input-invalid: rgb(255, 146, 126);
